<h1>投稿詳細</h1>

<h2>タイトル</h2>
<P><%= @list.title %></P>

<h2>内容</h2>
<p><%= @list.body %></p>

<p>画像</p>
<%= image_tag list.image, size: "200×200" %>

<%= link_to '一覧', lists_path %> |
<%= link_to '編集', edit_list_path(@list.id) %> |
<!-- data-confirmを用いて削除確認ダイアログを表示 -->
<%= link_to '削除', list_path(@list.id), method: :delete, "data-confirm" => "本当に削除しますか？" %>